* {
  padding: 0;
  margin: 0;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

.hero {
  height: 100vh;
  width: 100%;
  background-image: url(backgroundimage.jpg);
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}

.hero-logo {
  color: white;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}

span {
  color: darkred;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}

nav ul li a:hover {
  color: darkred;
  transition: 0.4s;
}

.btn {
  background-color: darkred;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  transition: transform 0.3s;
}

.btn:hover {
  transform: scale(1.2);
}

.content {
  position: absolute;
  top: 40%;
  left: 8%;
  transform: translateY (-50%);
}

h1 {
  color: white;
  margin: 20px 0px 20px;
  font-size: 75px;
}

h3 {
  color: black;
  font-size: 25px;
  margin-bottom: 50px;
}

h4 {
  color: black;
  letter-spacing: 2px;
  font-size: 20px;
}

.newsletter form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.newsletter form input:first-child {
  flex: 1;
  width: auto;
  padding: 14px 15px;
  border: 2px solid darkred;
  border-radius: 30px;
  margin-right: 10px; /* Add some margin to separate the input and button */
}

.newsletter form input:last-child {
  padding: 10px 15px;
  border: none;
  border-radius: 30px;
  background-color: darkred;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.thanks-message {
  font-family: 'Your Font', sans-serif; /* Replace 'Your Font' with your preferred font */
  font-size: 40px; /* Adjust font size as needed */
  color: #333; /* Adjust color to match the website's theme */
  margin-top: 10px; /* Add margin to separate it from the form */
}

.low-poly-background {
  position: fixed; /* Change this to fixed */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fluctuate 10s infinite alternate;
}

@keyframes fluctuate {
    0% {
        background-color: rgba(0, 0, 0, 0.99); /* Dark background */
    }
    50% {
        background-color: rgba(0, 0, 0, 0.95); /* Intermediate darkness */
    }
    100% {
        background-color: rgba(0, 0, 0, 0.92); /* Visible background */
    }
}

.about {
  padding: 100px 0;
  color: white; /* Set text color to white */
  height: 100vh; /* Set height to viewport height */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.about-text {
  opacity: 0;
  transform: translateY(50%);
  transition: opacity 3.0s ease, transform 2.0s ease;
}
.about-text.slide-in {
  opacity: 1;
  transform: translateY(0);
}

.img1{
  width: 100%;
  height: 991px;
}

.particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  z-index: -1;
}

.particle {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: white;
  border-radius: 50%;
}

/* Animation */
@keyframes move {
  from {
    transform: translateX(-50vh) rotate(0deg);
  }
  to {
    transform: translateX(0vw) rotate(360deg);
  }
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  75% { opacity: 0.2; }
  95% { opacity: 1.0; }
  100% { opacity: 0; }
}

.about .main {
  width: 95%;
  max-width: 1890px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about img{
  margin-right: 20px; /* Adjust the margin-right as needed */
  width: 40%; /* Adjust the width of the image */
}

.about-text {
  width: 50%;
  text-align: center; /* Center align the text */
}

.about-text h2 {
  font-size: 4vw; /* Responsive font size based on viewport width */
  text-transform: capitalize;
  margin-bottom: 20px;
}

.about-text h5 {
  font-size: 1.5em; /* Responsive font size based on em units */
  margin-bottom: 1.5em; /* Adjust margin accordingly */
  text-transform: capitalize;
}

.about-text p {
  font-size: 1em; /* Responsive font size based on em units */
  letter-spacing: 0.05em; /* Adjust letter spacing */
  line-height: 1.6;
  margin-bottom: 2em; /* Adjust margin accordingly */
}

button {
  background-color: darkred;
  color: white;
  text-decoration: none;
  border: none; /* Remove the border */
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 30px;
  transition: .2s;
}

button:hover {
  background-color: transparent; /* Change the background color on hover */
  border: 2px solid darkred; /* Add a border on hover */
  cursor: pointer;
}

.service {
  padding: 0px 0;
  min-height: 100vh; /* Set minimum height to viewport height */
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column; /* Align content vertically */
  position: relative; /* Add position relative */
  z-index: 0;
}

.service::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;

 /* Adjust the brightness to make the image whiter */
}

@keyframes fluctuate {
  0% {
      background-color: rgba(0, 0, 0, 0.99); /* Dark background */
  }
  50% {
      background-color: rgba(0, 0, 0, 0.95); /* Intermediate darkness */
  }
  100% {
      background-color: rgba(0, 0, 0, 0.92); /* Visible background */
  }
}

.title {
  margin-top: 5%;
  margin-bottom: 50px;
}

.title:hover{
  cursor: pointer;
  
}

.title h2 {
  font-size: 80px;
  color: transparent; /* Set color to transparent */
  background: linear-gradient(45deg, darkred, rgb(255, 255, 255), #7aa4bf); /* Define initial gradient */
  background-size: 600% 600%; /* Set background size to cover */
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4); /* Add a subtle shadow */
  margin-bottom: 20px;
  animation: gradientAnimation 10s ease infinite; /* Apply animation */
  -webkit-background-clip: text; /* Clip the background to the text */
  background-clip: text;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5); /* Add text shadow for visibility */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%; /* Initial background position */
  }
  50% {
    background-position: 100% 50%; /* Move gradient to the right */
  }
  100% {
    background-position: 0% 50%; /* Move gradient back to initial position */
  }
}

.standout-title {
      color: white;
      background-color: darkred;
      padding: 10px 20px;
      border-radius: 5px;
    }

.box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
  margin-top: 20px; /* Add margin between card rows */
}

.card {
  width: 450px; /* Increase the width of the cards */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Increase the box shadow */
  margin: 0 20px 40px; /* Increase bottom margin to separate cards */
  padding: 40px; /* Increase padding for better spacing */
  text-align: center;
  transition: transform 0.3s; /* Add transition effect */
  display: initial;
/* Add transition effect for opacity */
}


.card:hover {
  transform: scale(1.05); /* Enlarge the card on hover */
}

.card i {
  font-size: 64px; /* Increase the size of the icon */
  color: darkred;
}

.card h5 {
  font-size: 24px; /* Increase the size of the heading */
  margin-top: 20px;
  color: #333; /* Change the color of the heading */
}

.card .pra {
  margin-top: 20px;
}

.card p {
  color: #666;
  line-height: 1.6;
  font-size: 18px; /* Increase the font size of the paragraph */
}

.card a.button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 30px; /* Increase the padding of the button */
  background-color: darkred;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px; /* Increase the font size of the button */
}

.card a.button:hover {
  background-color: #960018;
}

.slide-in .card {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s, transform 0.5s;
}

.slide-in .card.hidden {
  opacity: 0;
  transform: translateY(50px); /* Adjust as needed */
}

.hidden {
  display: none;
}

.skills {
  background-color: #131212;
  color: white;
  padding: 100px 0;
  text-align: center;
  min-height: 100vh; /* Ensure the section covers at least the viewport height */
  position: relative; /* Add position relative */
}

.skills h2 {
  font-size: 40px;
  margin-bottom: 50px;
}

.skills-container {
  opacity: 0; /* Initially hide the skills */
  transform: translateY(50px); /* Initially move the skills down */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Add transition for smooth animation */
}

.skills.visible .skills-container {
  opacity: 1; /* Make skills visible when the 'visible' class is added */
  transform: translateY(0); /* Move skills back to their original position */
}

.skills-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.skills-list li {
  font-size: 24px;
  margin-bottom: 20px;
}

.skills-list li:last-child {
  margin-bottom: 0;
}
