html, body {
  height: 100vh;
  margin: 0;
}

.projects-container {
    text-align: center;
    padding: 75px 000px;
    animation: fluctuate 10s infinite alternate;

  }
  
  @keyframes fluctuate {
      0% {
          background-color: rgba(0, 0, 0, 0.99); /* Dark background */
      }
      50% {
          background-color: rgba(0, 0, 0, 0.95); /* Intermediate darkness */
      }
      100% {
          background-color: rgba(0, 0, 0, 0.92); /* Visible background */
      }
  }

  .projects-title{
    font-size: 50px;

  }

  .project-list {
    align-items: center;
    list-style: none;
    padding: 0px 0px 0px;
 

  }
  
  .project-item {

    border: 1px solid #ccc;
    border-radius: 2px;
    margin-top: 60px;
    background-color: white;
    
  }
  
  .project-title {
    font-size: 2.5em;
    color: #333;
    text-align: center;
  }
  
  .project-description {
    font-size: 2em;
    color: black;
    text-align: center;
  }
  
  .project-link {
    display: inline-block;
    padding: 6px 5px;
    margin-top: 2px;
    background-color: black;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
  }
  