html, body {
  height: 100%;
  margin: 0;
  background-color: ; /* disable to show services*/
}

.App {
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure particles are in the background */
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  background-color: #800000; /* Dark Red */
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.nextButton {
  position: absolute;
  top: 3.5%;
  right: 48.5%;
  transform: translateY(-50%);
  background-color: #800000; /* Dark Red */
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  z-index: 3;
}


button:hover {
  background-color: #a00000; /* Slightly lighter red for hover */
}

button:active {
  background-color: #600000; /* Darker red for active state */
}

button.previous {
  left: 10px;
}

button.next {
  right: 10px;
}

